@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins&display=swap');

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 10px 0 10px;
  background-color: rgb(241 245 249);
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

p{
  margin: 0;
  padding: 0;
}

